@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.authHeader {
  padding: 40px 40px 20px;
  margin: auto;
  width: 50%;
  text-align: center;
}

body {
  background-color: #fff;
  font-size: 14px;
}


.navbar-nav {
  cursor: pointer;
  color: #BABDCF !important;
  display: flex !important;
  justify-content: space-evenly !important;
}

.nav-item {
color: #BABDCF!important ;
}
.nav-item:hover {
  background-color: #babdcf81 !important;;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(153, 153, 153, 0.481);
}

.user-profile {
  border-radius: 20px;
  padding: 40px 40px 20px;
  margin: auto;
  width: 50%;
}

.myProfileHeader {
  text-align: center;
}

.userNameHeader {
}

.myEmailHeader {
}

.searchBody {
font-family: 'Montserrat', sans-serif !important;

  padding-bottom: 30px;
  width: 70%;
}

.search-button {
  padding: 0.1em 0.5em;
  font-size: 1em;
  margin: 0.2em;
}

.search-button:hover {
  background-color: #c1e1c1;
}

.wrapper .header {
  max-width: 350px;
  width: 100%;
  height: auto;
  margin: 50px auto;
}

.wrapper .header .top,
.wrapper .header .signup {
  background: #fff;
  border: 1px solid #ccdcff;
  border-radius: 1px;
  padding: 40px 40px 20px;
}

.wrapper .header .logo img {
  display: block;
  margin: 0 auto 35px;
}

.wrapper .header .form .input_field {
  margin-bottom: 5px;
}

.wrapper .header .form .input_field .input {
  width: 100%;
  background: #efefef;
  border: 1px solid #efefef;
  font-size: 12px;
  border-radius: 3px;
  color: #262626;
  padding: 10px;
}

.wrapper .header .form .input_field .input:focus {
  border: 1px solid #b2b2b2;
}

.wrapper .header .form .btn {
  background: #5085f9;
  border-radius: 1px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  color: white;
}

.wrapper .header .form .btn a {
  color: #fff;
  display: block;
}

.wrapper .header .or {
  display: flex;
  height: 15px;
  margin: 15px 0 20px;
  justify-content: space-between;
  align-items: center;
}

.wrapper .header .or .line {
  width: 105px;
  height: 2px;
  background: #efefef;
}

.wrapper .header .or p {
  color: #999;
  font-size: 12px;
}

.wrapper .header .diff .fb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .header .diff .fb img {
  width: 16px;
  height: 16px;
}

.wrapper .header .diff .fb p {
  color: #385185;
  font-weight: 500;
  margin-left: 10px;
}

.wrapper .header .diff .forgot {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

.wrapper .header .diff .forgot a {
  color: #003569;
}

.wrapper .header .signup {
  margin: 10px 0 20px;
  padding: 25px 40px;
  text-align: center;
  color: #262626;
}

.wrapper .header .signup a {
  color: #3897f0;
}

.wrapper .header .apps {
  text-align: center;
  color: #262626;
}

.wrapper .header .apps p {
  margin-bottom: 20px;
}

.wrapper .header .apps a img {
  width: 135px;
  height: 40px;
  margin: 0 5px;
}

.wrapper .footer {
  max-width: 935px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.wrapper .footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.wrapper .footer ul li a {
  font-size: 12px;
  color: #003569;
}

.wrapper .footer .copyright {
  color: #999;
}

.top_form {
  margin-bottom: 30px;
}

.register_button {
  padding-right: 5;
}

// img {
//     width: 250px;
//     height: 350px;

// }

// tell me when you see this Chris <3 LOL

.favorite_books {
  padding-top: 15px;
 
}

.searchbtn_profile {
  background: #fff;
  border-radius: 1px;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seaRCH{
  background-color: white;
  margin: 1em 0em;
}

.searchbtn_profile:hover {
  background-color: #40445C;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  // display: block;
  //   width: 100%;
  //   padding: 0.375rem 0.75rem;
  //   font-size: 1rem;
  //   font-weight: 400;
  //   line-height: 1.5;
  //   color: #212529;
  //   background-color: #fff;
  //   background-clip: padding-box;
  //   border: 1px solid #ced4da;
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  //   appearance: none;
  //   border-radius: 0.375rem;
  //   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;


}





.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerbtn {
  margin-right: 50px;
}

.profileImage {
  width: 1em;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.7em 3em;
  flex-direction: column;
}

.app-header {
  margin-bottom: 1em;
  font-weight: 500 !important;
  letter-spacing: 0.3em;
  word-spacing: 0.4em;
  text-shadow: 3px 3px 3px rgba(111, 97, 81, 0.2);
}

//dark mode
body {
  background-color: #302b3b;
  color: #aea792b6;
  font-family: 'Montserrat', sans-serif !important;
}

.passwordbox {
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  background-color: #40445c;
  padding: 1em 2em 1em;
  border-radius: 20px;
  color: #babdcf;
  box-shadow: 2px 2px 10px 10px hsla(46, 11%, 46%, 0.29);
}

.submit--btn {
  background-color: #babdcf;
  color: #40445c;
  border: 2px solid rgba(0, 0, 0, 0.647);
  margin-bottom: 1em;
  transition: 1s all;
}

.submit--btn:hover {
  background-color: #babdcfae;
  border: 2px solid rgba(0, 0, 0, 0.418);
  color: #c6c9da;
  transform: scale(1.02) !important;
}

//light mode

body {
  background-color: #cec9b9b6;
  color: #585446;

  font-family: 'Montserrat', sans-serif !important;
}

// home button
.navbar-brand {
  cursor: pointer;
}

.navbar-light{
  background-color: #40445C !important;
  color: #BABDCF !important;
  display: flex;
  justify-content: space-between !important;
  align-items: space-evenly !important;
}

.search-button{
  background-color: #626990;
  border-radius:10px;
  border:1px solid#262626;
  color: #efefefb8;
  transition: all 1s;
  box-shadow: 3px 3px 5px #2626263a;
  letter-spacing: 3px;
max-height: 3em;
display:flex;
justify-content: center;

}

.search-button:hover{
  background-color:#6269908b ;
}

.card-body{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.222);
  
}