@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

$primary-color: pink;
$secondary-color: black;

body {
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
}